* {
	margin: 0;
	padding: 0;
}
body {
	background: #0d0461;
	color: white;
}
h1{
	font-size: 3rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.5rem;
}
.plays li {
	display: block;
	list-style: none;
	margin: 2rem auto; 
}
.plays button {
	background: #1e687b;
	border: none;
	margin: 1rem; 
	margin-right: 1rem; 
}
.plays button:hover {
	background: #046117;
}
.player-plays li {
	text-align: left;
}
.comp-plays li {
	text-align: right; 
}
.plays button {
	border: none;
	margin: 1rem; 
	margin-right: 1rem; 
}
.green {
	background: green;
	animation: fade-in 1s ease-out backwards;	
}
@keyframes fade-in{
	to {
		background: green;
	}
}
/*Media Queries*/
@media only screen and (max-width: 388px) {
	h1 {
	    font-size: 2rem;
	}
	h2 {
		font-size: 1.5rem;
	}
}